@import url("https://fonts.googleapis.com/css?family=Quicksand");
html {
  width: 100vw;
  background-color: black;
  overflow-x: hidden; }

body, html {
  scroll-behavior: smooth;
  overflow-x: hidden;
  width: 100vw;
  margin: 0;
  font-family: 'Quicksand', sans-serif; }

#services {
  margin-top: 5em;
  opacity: 0; }

#planning {
  transform: translateY(12em);
  opacity: 0; }

h1 {
  color: white; }

li {
  list-style: none; }

.active {
  border-bottom: solid lightgreen 1px !important;
  height: 1.5em; }

.wrapper1 {
  height: 100vh;
  width: 100vw;
  background: url("./images/background.svg") no-repeat, url("./images/backgroundimage.svg") no-repeat;
  background-size: cover; }

.navbar {
  height: 15vh;
  width: 100vw;
  display: flex; }
  .navbarLogo {
    margin-top: 2vh;
    width: 100%;
    height: 12vh;
    flex-grow: 1;
    background: url("./images/logo.png") no-repeat center left;
    background-size: contain; }
  .navbarLinks {
    margin-top: auto;
    margin-bottom: auto;
    text-align: center;
    height: 1em;
    width: 75vw;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    color: white; }
    .navbarLinks a {
      border-bottom: 1px dimgray solid;
      height: 1.5em;
      text-decoration: none; }
    .navbarLinks li:hover {
      cursor: pointer; }

.navbarLinks2 {
  color: white;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  padding-left: 0;
  margin-top: -0.5em; }

.blackPageTransition {
  background-image: url("./images/Rectangle 5.svg");
  height: 20em;
  width: 100vw;
  margin-top: 13em;
  position: relative; }

.header {
  margin-right: auto;
  margin-left: auto;
  width: 90vw;
  max-width: 750px;
  text-align: center;
  margin-top: 25vh; }
  .headerSlogan {
    color: #98FF98; }
  .headerText {
    font-size: 1.5em;
    color: #FFF; }

.arrowDown {
  padding: 10px;
  margin-top: -18em;
  display: block;
  margin-left: auto;
  margin-right: auto;
  animation: updown 1.5s;
  animation-iteration-count: infinite; }
  .arrowDown:hover {
    cursor: pointer; }
@keyframes updown {
  0% {
    transform: translateY(0); }
  50% {
    transform: translateY(2em); }
  100% {
    transform: translateY(0); } }
.arrowDown2 {
  margin-top: 7em;
  padding: 10px;
  display: block;
  margin-left: auto;
  margin-right: auto;
  animation: updown 1.5s;
  animation-iteration-count: infinite; }
  .arrowDown2:hover {
    cursor: pointer; }
@keyframes updown {
  0% {
    transform: translateY(0); }
  50% {
    transform: translateY(2em); }
  100% {
    transform: translateY(0); } }
.services {
  margin-top: 15em; }
  .servicesTitle {
    text-align: center;
    color: #98FF98;
    margin-bottom: 3em; }
  .servicesGrid {
    display: grid;
    justify-content: center;
    grid-template-columns: repeat(auto-fit, minmax(320px, 1fr));
    grid-row-gap: 5em; }
    .servicesGridItems {
      display: block;
      text-align: center;
      margin-left: auto;
      margin-right: auto; }

.planning {
  background: url("images/Rectangle8.svg"), url("images/Image1.png");
  background-size: cover;
  height: auto;
  margin-top: 25em;
  color: white; }
  .planningTitle h1 {
    color: #98FF98;
    text-align: center; }
  .planningGrid {
    margin-left: auto;
    margin-right: auto;
    width: 50vw;
    display: flex;
    flex-direction: column; }
    .planningGridItem {
      display: flex;
      margin-bottom: 5em; }
      .planningGridItem .planningContent {
        width: 70%; }
      .planningGridItem svg {
        width: 30%; }

.footer {
  background-color: black;
  margin-top: 2em;
  height: 6em;
  color: white;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(320px, 1fr)); }
  .footerLogo {
    flex-grow: 0.8; }
  .footerlinks {
    margin-top: 1em;
    text-align: center; }
    .footerlinks .privacy a:visited {
      color: #98FF98; }

@media screen and (max-width: 375px) {
  .navbarLogo {
    background-image: url("images/logo.png");
    background-position: center top;
    background-size: 15em; }

  .navbarLinks {
    display: none; }

  .blackPageTransition {
    margin-top: 2em; }

  .header {
    margin-top: 15vh; } }
.aboutOne {
  margin-top: 5em;
  margin-left: auto;
  margin-right: auto;
  display: flex;
  flex-direction: row;
  width: 55vw;
  color: white; }
  .aboutOneText {
    margin-top: 1em;
    text-align: center;
    font-size: 1.2em; }
  .aboutOne svg {
    margin-right: 20px;
    flex-grow: 1;
    width: 750px; }

.aboutTwo {
  margin-left: auto;
  margin-right: auto;
  display: flex;
  flex-direction: row;
  width: 55vw;
  color: white; }
  .aboutTwoText {
    margin-top: 1em;
    text-align: center;
    font-size: 1.2em; }
  .aboutTwo svg {
    margin-left: 20px;
    flex-grow: 1;
    width: 750px; }
    .aboutTwo svg g {
      background-image: url("images/Image1.png"); }

@media screen and (max-width: 768px) {
  .planningTitle {
    margin-bottom: 5em; }

  .planningGridItem {
    text-align: center;
    justify-content: center;
    flex-direction: column; }

  .planningContent {
    margin-left: auto;
    margin-right: auto;
    order: 2; }

  .planningGridItem svg {
    margin-left: auto;
    margin-right: auto;
    order: 1;
    width: 123px; }

  .planningGrid {
    width: 90vw; } }
@media screen and (min-width: 376px) {
  .navbarLinks2 {
    display: none; } }

/*# sourceMappingURL=App.css.map */
